 class="diffoscope">
<div class="difference">
  <div class="diffheader">
  <div class="diffcontrol diffcontrol-double">⊟</div>
  <div><span class="diffsize">4.82 MB</span></div>
  <div><span class="source">b1</span> vs.</div>
  <div ><span class="source">b2</span>
    <a class="anchor" href="#">¶</a>
  </div>
  </div>
  <div class="difference">
    <div class="diffheader">
    <div class="diffcontrol">⊟</div>
    <div><span class="diffsize">141 KB</span></div>
    <div id="build.log"><span class="source">build.log</span>
      <a class="anchor" href="#build.log">¶</a>
    </div>
    </div>
<div class="error">Max HTML report size reached</div>
  </div>
  <div class="difference">
    <div class="diffheader">
    <div class="diffcontrol">⊟</div>
    <div><span class="diffsize">1.56 MB</span></div>
    <div id="systemtap-doc_-.---_all.deb"><span class="source">systemtap-doc_3.1-2_all.deb</span>
      <a class="anchor" href="#systemtap-doc_-.---_all.deb">¶</a>
    </div>
    </div>
<div class="error">Max HTML report size reached</div>
  </div>
  <div class="difference">
    <div class="diffheader">
    <div class="diffcontrol">⊟</div>
    <div><span class="diffsize">1.56 MB</span></div>
    <div id="systemtap_-.---_arm--.buildinfo"><span class="source">systemtap_3.1-2_arm64.buildinfo</span>
      <a class="anchor" href="#systemtap_-.---_arm--.buildinfo">¶</a>
    </div>
    </div>
<div class="error">Max HTML report size reached</div>
  </div>
  <div class="difference">
    <div class="diffheader">
    <div class="diffcontrol">⊟</div>
    <div><span class="diffsize">1.56 MB</span></div>
    <div id="systemtap_-.---_arm--.changes"><span class="source">systemtap_3.1-2_arm64.changes</span>
      <a class="anchor" href="#systemtap_-.---_arm--.changes">¶</a>
    </div>
    </div>
<div class="error">Max HTML report size reached</div>
  </div>
</div>
